.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50;
}
.title {
  font-family: 'Pretendard-Black';
  width: 100%;
  text-align: center;
}
